/* Apply global styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    .site-title {
        background: linear-gradient(90deg, #23cba7, #1a6f63);
        padding: 15px 0;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: white;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
    }

/* Form box */
form {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(35, 203, 167, 0.3);
    width: 350px;
}

/* Headings */
h2 {
    text-align: center;
    color: #23cba7;
    margin: auto;
    
}

.log_heading, .reg_heading {
    margin-bottom: 20px;
}



input{
    width:91%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #23cba7;
    border-radius: 6px;
    font-size: 16px;
}
/* Input fields */
 select {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #23cba7;
    border-radius: 6px;
    font-size: 16px;
}

/* Buttons */
button {
    width: 100%;
    padding: 12px;
    background: #23cba7;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor:pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #1cb396;
}

/* Links */
a {
    color: #23cba7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

    .navbar {
      background: #1abc9c;
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;
      color: white;
      font-size: 18px;
    }

    .navbar a {
      color: white;
      text-decoration: none;
      margin-left: 20px;
      font-weight: bold;
    }
    .home_btn {
      display: inline-block;
      padding: 5px 12px;
      color: white;
      border-radius: 5px;
      transition: background 0.3s ease;
    }

    .home_btn:hover {
      background-color: #1ea98d;
    }

    